# fly.toml app configuration file generated for pocket-tts on 2026-01-31T13:16:46Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pocket-tts'
primary_region = 'iad'

[build]

[processes]
  app = "uv run pocket-tts serve-api --host 0.0.0.0 --port 8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
